<%-include('../cabecalho.ejs')%>
    <h1>Adicionar Fabricante</h1>
    <div style="margin-bottom: 24px;">
        <a href="/Fabricante/lst" class="btn">Listar</a>
    </div>
    <div>
        <form method="post">
            <label>Nome do fabricante:</label>
            <input type="text" name="nome"><br>
            <label>Ano de fundacao:</label>
            <input type="number" name="anoDeFundacao"><br>
            
            <button type="submit" class="btn submit">Cadastrar</button>
        </form>
    </div>
    <%-include('../rodape.ejs')%>