<!-- Cabeçalho -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurante</title>

  <!-- Ícones -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- Seu CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="container">

    <!-- MENU -->
    <nav class="menu">

      <div class="logo">
  <a href="/home">Meu Restaurante</a>
</div>

      <ul>
        <li><a href="/Prato/lst" class="btn"><i class="fa-solid fa-utensils"></i>&nbsp;Pratos</a></li>
        <li><a href="/Bebida/lst" class="btn"><i class="fa-solid fa-wine-glass"></i>&nbsp;Bebidas</a></li>
        <li><a href="/Garcom/lst" class="btn"><i class="fa-solid fa-user-tie"></i>&nbsp;Garçons</a></li>
        <li><a href="/Categoria/lst" class="btn"><i class="fa-solid fa-tags"></i>&nbsp;Categorias</a></li>
      </ul>
    </nav>

