<%- include('../cabecalho.ejs') %>

<h1>Adicionar Categoria</h1>
<div style="margin-bottom: 24px;">
    <a href="/Categoria/lst" class="btn">Listar</a>
</div>
<div>
    <form method="post">
        <label>Nome da categoria:</label>
        <input type="text" name="nome" required><br>
        <label>Descrição:</label>
        <input type="text" name="descricao"><br>
        
        <button type="submit" class="btn submit">Cadastrar</button>
    </form>
</div>

<%- include('../rodape.ejs') %>
