<%-include('../cabecalho.ejs')%>
    <h1>Editar Prato</h1>
    <div style="margin-bottom: 24px;">
        <a href="/Categoria/lst" class="btn">Listar</a>
    </div>
    <div>
        <form method="post" class="form-visual">
            <label>ID:</label>
            <input type="text" name="id" value="<%= Categoria.id %>" disabled><br>
            <label>Digite a nova categoria:</label>
            <input type="text" name="nome" value="<%= Categoria.nome %>"><br>

            <button type="submit" class="btn submit">Submeter edição</button>
        </form>
    </div>
    <%-include('../rodape.ejs')%>