<%-include('../cabecalho.ejs')%>
    <h1>Adicionar Prato</h1>
    <div style="margin-bottom: 24px;">
        <a href="/Restaurante/lst" class="btn">Listar</a>
    </div>
    <div>
        <form method="post">
            <label>Nome do prato:</label>
            <input type="text" name="nome"><br>
            <label>Selecione a categoria:</label>
            <select name="categoria">
                <option value="entrada">Entrada</option>
                <option value="pratoPrincipal">Prato principal</option>
                <option value="sobremesa">Sobremesa</option>
            </select><br>
            <label>Preço do prato:</label>
            <input type="number" name="preco"><br>
            <label>Descrição do prato:</label>
            <input type="text" name="descricao"><br>
            <label>Tempo de preparo do prato:</label>
            <input type="number" name="tempoDePreparo"><br>
            <label>Disponibilade:</label>
            <select name="disponibilidade">
                <option value="true">Disponível</option>
                <option value="false">Não disponível</option>
            </select><br>
            <label>Ingredientes do prato:</label>
            <input type="text" name="ingredientes"><br>
            <button type="submit" class="btn submit">Cadastrar</button>
        </form>
    </div>
    <%-include('../rodape.ejs')%>