<%-include('.. /cabecalho.ejs')%>
    <h1>Adicionar Curso</h1>
    <div style="margin-bottom: 24px;">
        <a href="/curso/lst" class="btn">Listar</a>
    </div>
    <div>
        <form method="post">
            <label>Digite o nome:</label>
            <input type="text" name="nome"><br>
            <label>Forneça a duração (em semestre):</label>
            <input type="number" name="duracao"><br>
            <label>Digite a área:</label>
            <input type="text" name="area"><br>
            <label>Selecione o nível:</label>
            <select name="nivel">
                <option value="Técnico">Técnico</option>
                <option value="Tecnólogo">Tecnólogo</option>
                <option value="Bacharel">Bacharel</option>
            </select><br>
            <label>Forneça o ano de fundação (em anos):</label>
            <input type="number" name="anoFundacao"><br>
            <button type="submit" class="btn submit">Cadastrar</button>
        </form>
    </div>
    <%-include('.. /rodape.ejs')%>